<% unless comment.root? %>
  <hr>
<% end %>

<article class="media" data-comment-id="<%= comment.id %>"'>
  <figure class="media-left">
    <div class="avatar-block">
      <div><%= first_initial(comment.user) %></div>
    </div>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.first_name %></strong>
        <small class="has-text-grey-light">
          <%= baby_names(comment.user) %>
        </small>
        <%= render "comments/meta", comment: comment %>
      </p>
      <div>
        <%= comment.body %>

        <% if comment.replies? %>
          <p>
            <small>
              <span>
                <%= link_to "Comments (#{comment.replies.size})",
                            comment_replies_path(comment),
                            class: 'comment-href', remote: true %>
              </span>
            </small>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</article>

<%= render 'comments/reply_form', comment: comment %>
