<!--
  We check if the comment was saved because `/comments/create.js.erb` has a
	partial which gets loaded before the JS gets served.
-->
<% return unless comment.persisted? %>

<div class="card mb-4" data-reactionable-id="<%= comment.id %>">
  <div class="card-body">
    <h5 class="card-title">
      <%= comment.user.first_name %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted mb-3">
      <%= render "comments/meta", comment: comment %>
    </h6>
    <p class="card-text fs-5"><%= comment.body %></p>

    <%= render "comments/link_actions", comment: comment %>
  </div>
  <div class="card-footer">
    <%= render "comments/reply_form", comment: comment %>
  </div>
</div>

