<%= form_for comment, remote: true do |form| %>
	<%= render 'shared/form_errors', object: @comment %>

  <label for="body" class="label is-large">
    How's it going with your little one?
  </label>
	<div class="field has-addons">
		<div class="control is-expanded">
			<%= form.text_field :body,
													class: 'input',
													placeholder: "My little man just crawled!!" %>
		</div>
    <div id="file-js-example" class="file has-name">
      <label class="file-label">
        <%= form.file_field :image, class: 'file-input' %>
        <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Upload a picture...
        </span>
      </span>
        <span class="file-name">
        No file selected
      </span>
      </label>
    </div>
  </div>
  <div class="control">
    <%= form.submit "Share", class: "button is-primary" %>
  </div>
<% end %>
