<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :email, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :email, type: 'email', class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :first_name, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :first_name, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :city, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :city, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :password, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.password_field :password, class: 'input' %>
      </div>
    </div>
  </div>
</div>
