<div id="clearance" class="sign-up">
  <h3 class="title is-3"><%= t(".title") %></h3>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="buttons is-right">
      <%= form.submit 'Sign up', class: 'button is-primary' %>
      <%= link_to 'Sign in', sign_in_path, class: 'button is-primary is-outlined' %>
    </div>
  <% end %>
</div>
