<h1 class="mb-4"><%= t(".title") %></h1>

<div id="clearance">
  <div class="row">
    <div class="col-md-9 col-lg-6">
      <%= form_for @registration, url: registrations_path do |form| %>
        <%= render "shared/form_errors", object: @registration %>
        <%= render "daddy_fields", form: form %>
        <%= render "babies", form: form %>
      <% end %>
    </div>
  </div>
</div>
