<%= form_with model: waitlist_user, local: false do |form| %>
  <div class="form-floating mb-3">
    <%= form.text_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com", required: true %>
    <%= form.label :email, "Email address", for: "floatingInput" %>
  </div>
  <div class="form-floating mb-3">
    <!-- TODO: Add info icon which shows a popup to answer "what if more than one applies?" -->
    <%= select(:waitlist_user, :daddy_type, options_for_select(WaitlistUser.daddy_types), {include_blank: "Select..."}, {class: "form-select form-select mb-3 form-control", "aria-label": ".form-select-lg", required: true}) %>
    <label for="floatingInput">Type of Daddy</label>
    <div class="invalid-feedback">
      Please choose a username.
    </div>
  </div>
  <div>
    <%= form.hidden_field(:referral_code, value: referral_code) %>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">
    Join the Waitlist
  </button>
  <hr class="my-4">
  <small class="text-muted">
    By joining, you'll be entered in a free raffle.
    Many will enter, few will win -- boost your chances
    when you refer other daddies.
  </small>
<% end %>