<%= form_with model: waitlist_user, local: false do |form| %>
  <div class="form-floating mb-3">
    <%= form.text_field :first_name, class: "form-control", id: "floatingFirstName", placeholder: "First name", required: true %>
    <%= form.label :first_name, "First name", for: "floatingInput" %>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_field :email, class: "form-control", id: "floatingEmail", placeholder: "name@example.com", required: true %>
    <%= form.label :email, "Email address", for: "floatingInput" %>
  </div>
  <div class="form-floating mb-3">
    <!-- TODO: Add info icon which shows a popup to answer "what if more than one applies?" -->
    <%= select(:waitlist_user, :daddy_type, options_for_select(WaitlistUser.daddy_types), {include_blank: "Choose one..."}, {class: "form-select form-select mb-3 form-control", "aria-label": ".form-select-lg", required: true}) %>
    <label for="floatingInput">Type of Daddy</label>
    <div class="invalid-feedback">
      Please choose which type of daddy you are.
    </div>
  </div>
  <div class="form-floating mb-3">
    <%= form.text_field :referral_code,
                        class: "form-control #{referral_code_readonly_class(referral_code)}",
                        value: referral_code_value(referral_code),
                        readonly: referral_code_readonly?(referral_code),
                        id: "floatingReferralCode",
                        placeholder: "s0meCod3" %>
    <%= form.label :referral_code, "Referral Code (Optional)", for: "floatingReferralCode" %>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">
    Join the Waitlist
  </button>
  <div class="form-text text-center">
    <small>
      Early-access space is limited. Raffle entry is automatic. Your data is
      secure, private, and will never be sold.
    </small>
  </div>
<% end %>
