  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">The Daddy App</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-smile.svg', 'happy newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Share in the journey and daily experiences of being a Daddy</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-smile.svg', 'happy newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Share in the journey and daily experiences of being a Daddy</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-smile.svg', 'happy newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Share in the journey and daily experiences of being a Daddy</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>

<section class="hero is-large is-info is-bold">
  <div class="hero-body">
    <div class="container">
			<h1 class="display-1">
				<div><strong>Chat</strong></div> with others like you
			</h1>
			<h2 class="subtitle is-3">
				Share in the journey and daily experiences of being a Daddy
			</h2>
      <div class="mb-3">
        <%# <label for="exampleFormControlInput1" class="form-label">Email address</label> %>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <h4>Spread the word!</h4>
      </div>
      <%= link_to 'JOIN THE CONVO',
                  sign_up_path,
                  class: 'button is-large is-info is-inverted is-rounded' %>
    </div>
  </div>
</section>

<section class="section" id="benefits">
	<div class="columns is-vcentered reverse-columns">
    <div class="column">
      <figure class="image is-3by2">
        <%= img('newborn-sleep.svg', 'sleeping newborn') %>
      </figure>
    </div>
    <div class="column">
      <h4 class="subtitle is-4">
        Get info and advice on topics like sleeping, money, feeding,
        relationships, and more
      </h4>
    </div>
  </div>

  <hr>

  <div class="columns is-vcentered">
    <div class="column">
      <figure class="image is-3by2">
        <%= img('newborn-cry.svg', 'crying newborn') %>
      </figure>
    </div>
    <div class="column">
      <h4 class="subtitle is-4">
        Talk to others about their experiences: the highs, lows, and everything
        in between
      </h4>
    </div>
  </div>

  <hr>

	<div class="columns is-vcentered">
    <div class="column">
      <h4 class="subtitle is-4">
        Share your own unique journey and experiences
      </h4>
    </div>
		<div class="column">
			<figure class="image is-3by2">
				<%= img('newborn-smile.svg', 'happy newborn') %>
			</figure>
		</div>
	</div>
</section>

<section class="section" id="join">
	<div class="level">
	  <div class="level-item has-text-centered">
			<button class="button is-large is-info is-rounded">
				Join the Convo
			</button>
	  </div>
	</div>
</section>
