<div class="fs-4" id="onboarding-container">
  <section>
		<div class="shadow-sm mb-3">
				<%= image_pack_tag "onboarding/welcome_to_the_app.png",
													 class: "d-block mx-lg-auto img-fluid",
													 loading: "lazy",
													 alt: "Welcome to The Daddy App" %>
			</div>
    <p>
		  We're excited you're here. Share your experiences and get advice from
			other dads.
		</p>
		<%= link_to "Next", "#", role: "button", class: "btn btn-primary btn-lg text-uppercase onboarding-next-btn" %>
	</section>

  <section class="d-none">
	  <div class="shadow-sm mb-3">
	    <%= image_pack_tag "onboarding/chopping_it_up.png",
			                   class: "d-block mx-lg-auto img-fluid",
												 loading: "lazy",
												 alt: "Dads talking" %>
		</div>
    <p>
		  The <b>Home</b> page is where all the action is: talk about all the
			fatherhood ups, downs, and everything in between.
		</p>
		<%= link_to "Next", "#", role: "button", class: "btn btn-primary btn-lg text-uppercase onboarding-next-btn" %>
	</section>

  <section class="d-none">
	  <div class="shadow-sm mb-3">
				<%= image_pack_tag "onboarding/love_is_love.png",
											     class: "d-block mx-lg-auto img-fluid",
											     loading: "lazy",
											     alt: "Dads talking" %>
		</div>
    <p>
		  This is a safe, "good vibes only" space. The <b>Community Guidelines</b>
			page describes this further.
		</p>
		<p>
			<%= render "pages/community_guidelines/warning" %>
		</p>
		<p>Be kind and respectful.</p>
		<%= link_to "I agree; next", "#", role: "button", class: "btn btn-primary btn-lg text-uppercase onboarding-next-btn" %>
	</section>

  <section class="d-none" data-section-name="referrals">
	  <div class="shadow-sm mb-3">
	    <%= image_pack_tag "onboarding/network_effect.png",
			                   class: "d-block mx-lg-auto img-fluid",
												 loading: "lazy",
												 alt: "A community as strong as your referrals" %>
		</div>
    <p>
		  This community is only as strong and, well, useful as the dads we know and
			invite to chop it up.
		</p>
    <p>
			Refer a few dads now:
		</p>
		<div>
		  <%= form_with scope: :invite, url: onboarding_invites_path, local: false do |form| %>
			  <% 3.times do |index| %>
					<div class="form-floating mb-3">
						<%= form.text_field :email,
						                    class: "form-control",
																id: "floatingEmail",
																placeholder: "Email",
																name: "invite[emails][#{index}]",
																required: false %>
						<%= form.label :email, "Email", for: "floatingInput" %>
					</div>
				<% end %>

				<%= link_to "Skip", "#", role: "button", class: "btn btn-outline-primary btn-lg text-uppercase onboarding-next-btn" %>
				<%= form.submit "Send Invites", class: "btn btn-primary btn-lg text-uppercase" %>
			<% end %>
		</div>
	</section>

  <section class="d-none">
		<div class="shadow-sm mb-3">
				<%= image_pack_tag "onboarding/rewards.png",
													 class: "d-block mx-lg-auto img-fluid",
													 loading: "lazy",
													 alt: "Welcome to The Daddy App" %>
			</div>
    <p>
		  Check out the <b>Monthly Raffle</b> page for details on how to potentially
		  win a little something-something every month. To be eligible, join some
			conversations and/or refer other dads.
		</p>
		<%= link_to "Next", "#", role: "button", class: "btn btn-primary btn-lg text-uppercase onboarding-next-btn" %>
	</section>

  <section class="d-none">
		<div class="shadow-sm mb-3">
				<%= image_pack_tag "onboarding/say_hello.png",
													 class: "d-block mx-lg-auto img-fluid",
													 loading: "lazy",
													 alt: "Welcome to The Daddy App" %>
			</div>
    <p>
		  Let's dive right in: introduce yourself below.
		</p>
    <p>
		  < form to submit a post >
		</p>
		<%= link_to "Submit first post!", "#", role: "button", class: "btn btn-primary btn-lg text-uppercase" %>
	</section>
</div>
