<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="<%= root_path %>">
			<strong>
				The Daddy App
			</strong>
		</a>
		<a role="button"
			 class="navbar-burger burger"
			 aria-label="menu"
			 aria-expanded="false"
			 data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-end">
      <%= link_to 'Home',
                  signed_in_root_path,
                  class: 'navbar-item',
                  title: 'Home' %>
      <%= link_to 'About',
                  '#',
                  class: 'navbar-item',
                  title: 'About' %>
      <%= link_to 'Contact',
                  '#',
                  class: 'navbar-item',
                  title: 'Contact' %>
			<div class="navbar-item">
				<div class="buttons">
          <%= link_to 'Invite Others',
                      "#",
                      class: 'button is-primary',
                      title: 'Invite Others' %>

					<% if signed_in? %>
						<%= link_to 'Sign out',
                        sign_out_path,
                        method: :delete,
                        class: "button is-primary is-outlined",
                        title: 'Sign out' %>
					<% else %>
						<%= link_to 'Sign up',
                        "#",
                        class: "button is-primary",
                        title: 'Sign up' %>
						<%= link_to 'Sign in',
                        sign_in_path,
                        class: "button is-primary is-outlined",
                        title: 'Sign in' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</nav>
