<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <div class="container">
      <%= render "layouts/navbar_signed_out" %>

      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <%= render "layouts/alerts" %>

          <%= yield %>
        </div>

        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
