<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <div class="container">
      <%= render "layouts/navbar_signed_out" %>

      <%= render "layouts/alerts" %>

      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
