<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <div class="container">
      <%= render "layouts/navbar_signed_in" %>

      <%= render "layouts/alerts" %>
    </div>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
