<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <div class="container">
      <div class="col-md-10 offset-md-1">
        <%= render "layouts/navbar_signed_out" %>

        <%= render "layouts/alerts" %>

        <%= yield %>
      </div>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
