<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <div class="container">
      <%= render "layouts/navbar_signed_in" %>

      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <%= render "layouts/alerts" %>

          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
